    <script src="/node_modules/less/dist/less.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/nprogress/nprogress.js"></script>
    <script src="/assets/echarts/echarts.min.js"></script>
    <script src="/node_modules/art-template/lib/template-web.js"></script>
    <script src="/node_modules/jquery.cookie/jquery.cookie.js"></script>
    <script src="/assets/js/common.js"></script>